<button
    #button
    type="button"
    (pointerout)="onHideTooltip()"
    (pointerover)="onShowTooltip(button, templateRefContent)">
    Hover me (TooltipService)
</button>

&nbsp;
<button
    lcTooltip="This is a tooltip"
    type="button">
    Hover me (TooltipDirective)
</button>
&nbsp;
<button
    type="button"
    [lcTooltip]="simpleTemplate">
    Hover me (TooltipDirective using template)
</button>
&nbsp;

<button
    lcTooltip="Hello World"
    lcTooltipTheme="dark"
    type="button">
    Long-press to show tooltip
</button>

<ng-template
    #templateRefContent
    let-name>
    <span>
        Hello <strong>{{ name }}</strong>
    </span>
</ng-template>

<ng-template #simpleTemplate>
    <span> Hello <strong>Angular!!!</strong> </span>
</ng-template>
