<button
    #button
    type="button"
    (pointerover)="onShowTooltip(button, templateRefContent)"
    (pointerout)="onHideTooltip()">
    Hover me (TooltipService)
</button>

&nbsp;
<button
    type="button"
    bbbTooltip="This is a tooltip">
    Hover me (TooltipDirective)
</button>
&nbsp;

<button
    type="button"
    bbbTooltip="Hello World"
    bbbTooltipTheme="dark">
    Long-press to show tooltip
</button>

<ng-template
    #templateRefContent
    let-name>
    <span
        >Hello <strong>{{ name }}</strong>
    </span>
</ng-template>
